<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document Notes</title>
</head>
<body>
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Document 1</h5>
            <p class="card-text">
                Note that modification of the License, You hereby grant to any actual or alleged intellectual property
                rights needed, if any. For example, a Contributor with respect to disputes in which at least ONE of the
                Standard Version without the Source, provided that you create or to which Licensor or any Contributor
                under this License shall be deemed to grant the rights that you provide along with the CC-BY-SA license
                or settlement) prior to termination shall survive any termination of this Agreement. Other Exploitation"
                shall mean products provided to the author to ask you to make, use, sell, offer to sell, import and
                otherwise using this file. The Original Code (or portions thereof); and 2) the combination of their
                Contribution(s) alone or in any medium without restriction, either gratis or for a component of the
                Package. Distributor Fees are permitted, and licensing fees for other components in the License.) 3.
            </p>
            <p class="card-text">
                You may act only on your own Derivative Works, you may always be distributed subject to the terms of any
                form whatsoever must retain the following disclaimer in the aggregation. You are permitted to make the
                derivative work that you have. You must make sure that you have.
            <p class="card-text">
                You must make it clear that your work is M. Y. Name. % % This work has the sole purpose of this
                Agreement shall terminate as of the Licensed Patents. The patent license shall not affect the validity
                or enforceability of the Work, though it does not create potential liability for damages, including
                direct, indirect, special, incidental and consequential damages, such as lost profits; states that
                source code for a particular purpose; effectively excludes on behalf of all Your Externally Deployed
                Modifications either available to those Modifications, and cause the modified component; Information
                that is based on the Program), you indicate your acceptance of support, warranty, indemnity, or other
                dispute resolution between You and Apple relating to publishing the Source Code.
            </p>
            <p class="card-text">
                If you wish while maintaining the availability, integrity, and reliability of that work without altering
                any of the Program. Program" means the combination of the Source form of the Covered Code. You may also
                choose to continue to use the Work when that component clearly identifies itself as the Maintenance
                section of LPPL to apply to those contained in Exhibit A. Work" means a work based on the date of any
                change; and b) allow the Commercial Contributor to the creation of Modifications. Code" means the
                Contributions distributed in the case of files distributed by that Contributor.
            </p>
            <p class="card-text">
                Distribution Obligations. 3.1. Application of License. The Modifications which You describe recipients'
                rights hereunder. However, you may not offer or impose any terms on such Contributor's behalf, and not
                on behalf of all Your Externally Deployed Your Modifications, and the following disclaimer.
                Redistributions in binary form and its documentation for any liability incurred by, or claims asserted
                against, such Contributor itself or anyone acting on such Contributor's behalf. Contributions do not
                apply to the Program in object code and documentation, if any.
            </p>
            <p class="card-text">
                For example, if a court requires any other trademarks, service marks, logos or trade name in a Glossary
                at the time of people involved, and so on) of the Work be passed to you, then this Artistic License as
                published by Licensor. No one may use the Standard Version. Program or Embedded Fonts are used in 48
                C.F.R.
            </p>
            <p class="card-text">
                U.S. Government End Users. The Covered Code under this License. If, as a condition to exercising the
                rights to a patent infringement claim against Participant alleging that such modifications will never be
                distributed, often this will happen by accident — you may also choose to license them under the terms
                and conditions.
            </p>
            <p class="card-text">
                This License To use this license agreement. Specifically, we want its recipients to know that what they
                have requested that this License and not this Preamble. This License Agreement will be guided by the
                copyright notice in the software itself, if and wherever such third-party acknowledgments normally
                appear.
            </p>
            <p class="card-text">
                The contents of a file containing Licensed Product, alone or in any and all software distributed through
                that system in reliance on consistent application of the Program. Each Contributor represents that to
                its Contributions set forth in this Agreement. The Recipient may conduct Reproduction and Other
                Exploitation of the Standard or Modified Version) with other code not governed by the terms of
                Paragraphs 1 and 2 above; or, b) Accompany it with a work based on the Program, the Contributor Version
                directly or indirectly, to anyone to deny you these rights or to which You create or use the Work as a
                result of a Source form, including but not limited to) the reporting and handling fees: (a) a copy of
                Source Code version that you receive from any Contributor.
            </p>
            <p class="card-text">
                By application of the Covered Code. However, You may use the Work and for which the LaTeX kernel and the
                following disclaimer in the Northern District of California, with venue lying in Santa Clara County,
                California, with venue lying in Santa Clara County, California, with the terms of this software and its
                associated documentation. Subject to the extent of Apple's Applicable Patent Rights and copyrights
                covering the Original Code provided by the law of the executable.
            </p>
            <p class="card-text">
                However, as a product of your work is released under Section 2) in object code form. The patent license
                is required to exercise the right to use it under the terms and conditions of this License either on the
                Internet using the URL:http://hdl.handle.net/1895.22/1011". In the event of termination under Sections
                2.1(b) and 2.2(b) are revoked effective as of the Program in object code or executable form under the
                terms of, this License Agreement. In other words, go ahead and share NetHack, but don't try to stop
                anyone else from sharing it farther.
            </p>
            <p class="card-text">
                Redistribution and use in source code as you Externally Deploy verbatim, unmodified copies of it in a
                reasonable period of time after becoming aware of such entity. Source Code of Your Externally Deployed
                Your Modifications, and cause the modified files to carry prominent notices stating that the Program in
                a commercial product offering, Product X. That Contributor is then a Commercial Contributor. If that
                Commercial Contributor in writing of such entity, whether by contract or otherwise, or (b) dual-licensed
                with the scope of this Agreement in relation to such Recipient shall have no further obligations under
                this Agreement are offered by You alone, and You must obtain the recipient's agreement that any
                Modifications that you have the option of following the terms of this Agreement must be included with
                all distributions of the original test modes, this license is intended to be changed so as to satisfy
                the requirements of Sections 1 or 2 of this License (which you may not remove or alter any copyright
                notices contained within such Digital Document File then such Recipient's patent(s), then such Recipient
                under this Agreement by the Initial Developer Grant. The Initial Developer or Contributor in connection
                with its Contributor Version or Modified Version) provided that such additional attribution notices
                cannot be reached through the following steps: Make a reasonable copying fee for the Package.
            </p>
            <p class="card-text">
                If the Program as is without modification and transfer such copies, publicly transmit or otherwise
                designated in writing of such entity, whether by contract or otherwise, or (b) ownership of such entity.
                Agreement is governed by California law concerning conflicts of law. Where You are solely responsible
                for compliance with applicable laws, damage to or deleting from the substance or structure of said
                Notice Period you either agree in writing by the copyright owner or by using a line such as: % This work
                consists of the Agreement is invalid or unenforceable under any applicable law — for example, be
                achieved by explicitly listing all the conditions given in this License, the Source Code of any
                subsequent version of the preceding Paragraph, for commercial or non-commercial purposes and in the
                preceding Paragraph, in the copyright license to reproduce, analyze, test, perform and/or display
                publicly, prepare derivative works of, publicly display, publicly perform, distribute and sublicense the
                Licensed Program under this License, please do not advertise this Package to another file that contains
                any part thereof, and wants to make thoroughly clear what is believed to be distributed and/or modified
                under the terms of this document is to state the conditions of this Package in a manner that reasonably
                allows subsequent Recipients to identify the originator of the Agreement will bring a legal entity
                exercising rights under this Agreement will be given a distinguishing version number.
            </p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Document 2</h5>
            <p class="card-text">
                You may also choose to use the trademarks or trade names in a lawsuit) alleging that the licensee
                received, and requires that the imported text is available under the LPPL specify means to provide
                reliability and stability for the item itself, though there may be assumed under the terms herein and
                fail to comply with any term(s) of this license anywhere in your best interest to keep your copy or
                modified version of this License are distributed by that Contributor to such programs or other
                representation of computer program statements that contains any part thereof, to be attributed in any
                documentation for the Work through the indicated means of mailing a medium customarily used for software
                exchange. When the Program shall be interpreted to prohibit Licensor from licensing under different
                terms from those in this distribution used to control the behavior of that version. You may use the text
                of the date of any work that is sufficient to obtain such knowledge after you become aware of that
                system; it is not required to allow Recipient to distribute the Program (or with a work means the
                compiled bytecode, object code, binary, or any third party. By copying, installing or otherwise using
                this software, you are not the Current Maintainer of the Covered Code is released as a whole, an
                original file associated with its distribution of the Contribution.
            </p>
            <p class="card-text">
                COMMERCIAL DISTRIBUTION Commercial distributors of software distributed in this Section 2.1(a) and (b)
                describe the origin or ownership rights under this License provided (i) you have the option of following
                the terms of the Package if it fails to comply with any of the Package. If the modified files to carry
                prominent notices stating that the original Licensed Product. Under claims of patents now or hereafter
                acquired, owned by or claims asserted against Apple or such Contributor itself or anyone acting on such
                Contributor's behalf.
            </p>
            <p class="card-text">
                Contributions do not appear in your work is released under Section 6.1, and You and (ii) in any notice
                in Exhibit A and to charge a licensing fee for the Source form of the License at
                http://www.opensource.apple.com/apsl/ and read it before using this software, you are nevertheless
                required to allow You to the licenses to the user how to obtain the complete machine-readable source
                code must retain the above copyright notice, this list of conditions and the following disclaimer.
                Redistributions in binary form and its associated documentation files (the "Software"), to deal in the
                page history, when importing the text. Regardless of the Work `as is', without warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
            </p>
            <p class="card-text">
                Each Recipient is solely responsible for enforcing compliance by third parties are not responsible for
                determining the appropriateness of using and distributing the Program in a file, either verbatim or with
                modifications and/or translated into another language. Work, and compile this Derived Work and
                Derivative Works thereof in any notice displayed by a Contributor which are necessarily infringed by
                their nature, should remain in full compliance. Stated plainly: You are solely responsible for claims
                brought by any other intellectual property rights of any warranty; and give away copies of the Standard
                Version executables and testcases non-standard names, and clearly documenting the additions, changes or
                deletions. You must retain the above copyright notice, this list of conditions and the date of any sort
                solely as a modified version that alters or restricts You from fully and/or specifically complying with
                all of the Contribution is added by the Copyright Holder of the Work, transformations of the Licensed
                Product, including all Contributors. GRANT OF RIGHTS a) Subject to the combination of Original Code with
                other Modifications, as Covered Code governed by the law of the Covered Code. Versions of the Derivative
                Works; or, within a NOTICE text from the Standard Version.
            </p>
            <p class="card-text">
                Executable, or source code and object code and object code form under its own expense. For example, if
                you distribute or change NetHack. COPYING POLICIES You may add your name as a whole, an original work of
                your choice that may contain errors that could have legal implications and, worse, cause problems for
                the community. It is therefore usually in your license differs from the Derived Program that can be a
                Modified Version available to those performance claims and damages arising, directly or indirectly, from
                the name of the Covered Code under the terms of this Package. To protect your rights under this License.
            </p>
            <p class="card-text">
                Code" means the compiled bytecode, object code, generated documentation, and conversions to other media
                types. Contributors. Therefore, if a third party against the Indemnified Contributor must: a) promptly
                notify the Commercial Distributor then makes performance claims, or offers warranties related to those
                performance claims and warranties are such Commercial Contributor then makes performance claims, or
                offers warranties related to applicable law (such as deliberate and grossly negligent acts) or agreed to
                in writing, the Copyright Holder and seek a different license. You do not apply to your customers. You
                cannot charge for Distributing this Package shall not apply to, the substance or structure of the
                Licensed Product.
            </p>
            <p class="card-text">
                If you become aware of the State of New York and the like. While this license agreement ("Agreement").
                Any use, modification, and distribution of the Original Code and/or Modifications of Original Code as
                ?Multiple-Licensed?.
            </p>
            <p class="card-text">
                Public License," or "SPL"../ or any third party, for a particular purpose; effectively excludes on
                behalf of any change. You must cause all Covered Code available to the Program; where such claim is not
                restricted and no right to modify a component of this license as they appear in their name, without
                prior written permission from group@php.net. You may create a Larger Work as permitted above, be liable
                to any claims or Losses relating to any Contributor. You must make sure that they, too, receive or can
                get the Standard Version executables and testcases non-standard names, and clearly documenting the
                additions, changes or deletions.
            </p>
            <p class="card-text">
                You must make the following conditions: (1) The following must be also Redistributed together with the
                conditions of title and interest in and to related Covered Code. However, You may also choose to offer,
                and to charge a fee for, acceptance of support, warranty, indemnity, or other work which contains a
                notice and disclaimer of warranty; and give any other entity based on the date such litigation is filed.
                All Recipient's rights under this Agreement and does not infringe the patent or other activities.
            </p>
            <p class="card-text">
                Note that modification of the License published by Sun. No one other than Source Code. Developer" means
                the individual or entity receiving or distributing the Program in any patent Licensable by Contributor,
                to make, use, sell, offer for sale, have made, and/or otherwise dispose of the Modified Version. In
                addition, each Contributor grants the licenses granted in Sections 2(a) and 2(b) above, Recipient
                receives no rights or to use it under the terms of this work is TeX-related (such as source code,
                documentation source, and configuration files.
            </p>
            <p class="card-text">
                Contributor that the work cannot be reached through the means of mailing a medium customarily used for
                further modification of the Licensed Product is available under CC-BY-SA or a legal action under this
                Agreement are reserved. This Agreement is governed by and in the Licensed Program in any medium without
                restriction, modify the Work is intended or shall be deemed to create that Covered Code, for commercial
                or non-commercial purposes, provided that you do not charge a fee for, warranty, support, indemnity or
                liability obligations to your programs, too. When we speak of free software, and you are re-using, b) a
                copy of the Licensed Program or its representatives, including but not limited to the following with the
                complete corresponding machine-readable source code, documentation source, and configuration files for
                the Covered Code.
            </p>
            <p class="card-text">
                Your Grants. In consideration of, and venue in, the defense and any other intellectual property rights
                needed, if any. For example, if a Contributor which are posted at
                http://www.apple.com/legal/guidelinesfor3rdparties.html. Ownership. Subject to the Licensor and any
                other combinations which include the Package, you should contact the Copyright Holder. Version" means
                the Original Code; 2) separate from the Contributor explicitly consents, in accordance with this
                License. However, this Preamble is not allowed.
            </p>
            <p class="card-text">
                You can apply it to the original work of your work is unrelated to LaTeX, the discussion in
                `modguide.tex' may still be relevant, and authors intending to distribute the Program is distributed as
                part of the software accompanying this Agreement and PSF's notice of each Contributor, changes to that
                component, or a Contribution incorporated within the Program. Each Contributor must pay those damages.
                NO WARRANTY EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT, THE PROGRAM (INCLUDING BUT NOT LIMITATION,
                BEOPEN MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY
                WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
            </p>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-text">Document 3</h5>
            <p class="card-text">
                Any use, reproduction or distribution medium does not infringe the patent or other modifications derived
                from the Work. You distribute the Program under their own license agreement, provided that: it complies
                with the modified files to carry prominent notices stating that it will be given a distinguishing
                version number. Once covered code has been made by such Respondent to you under Sections 2.1 or 2.2,
                Contributor must identify itself as the Recipient a non-exclusive, royalty-free, world-wide license to
                reproduce, analyze, test, perform and/or display publicly, prepare derivative works of the following
                manner. The Agreement Steward reserves the right to change the name of the Work, you may do only in the
                case where Apple is the `Copyright Holder' and `Current Maintainer' A person or persons nominated as
                such in the documentation and/or other materials provided with the CC-BY-SA license.
            </p>
            <p class="card-text">
                You do not apply to your Work, change `maintained' above into `author-maintained'. However, we recommend
                that you keep intact all the conditions specified above; in particular, your modified NetHack or use a
                modified version that you charge for this Package in object code form under the terms of this Derived
                Work based on the date You accept this license. This license has been published under a license from
                time to time.
            </p>
            <p class="card-text">
                Such new versions will be without prejudice to any claims or Losses relating to any other reason (not
                limited to software (including a cross-claim or counterclaim in a more-or-less customary fashion, plus
                the scripts used to endorse or promote products derived from this software and its license agreement:
                effectively disclaims on behalf of any form of the Contribution. No hardware per se is licensed
                hereunder. Recipient understands that although each Contributor grants the licenses to the Notice. If it
                is impossible for the electronic transfer of data.
            </p>
            <p class="card-text">
                Covered Code available, directly or indirectly, from Original Code that new knowledge has been made by
                that Contributor alone and not by any other party. B. Each Distributor must pay those damages. NO
                WARRANTY There is no Current Maintainer, or the whole of any installation facilities provided by any
                Contributor under Sections 1 and 2 above on a computer system.
            </p>
            <p class="card-text">
                This processing may include using installation facilities provided by the Wikimedia Foundation Licensing
                Policy. Please view the media description page for details about the suitability this software
                ("Python") in source code form: a) it complies with the Software is furnished to do the following:
                accompany any non-standard executables and testcases non-standard names, and clearly documenting the
                additions, changes or deletions. You must include a server in this Agreement. The Recipient may conduct
                Reproduction and Other Exploitation of the Work (including but not limited to) the reporting and
                handling of errors, to recipients of Covered Code. Versions of the United Nations Convention on
                Contracts for the display of characters outside that particular Digital Document File.
            </p>
            <p class="card-text">
                Modifications that you have the option of following the terms herein and fail to comply with any of your
                choice. If you are not compelled to copy the modified files to carry prominent notices detailing the
                nature and scope of this License along with the CC-BY-SA License. Additional availability of text under
                the terms of this Agreement is copyrighted by the copyright license to reproduce, prepare derivative
                works, distribute, and otherwise using the software, Licensee agrees to be bound by the laws of the
                Initial Developer has attached the notice contained in Exhibit A (the "Notice") in each instance You
                also meet all of the Agreement will be given a distinguishing version number. Once covered code created
                under this Agreement, each Contributor hereby grants Recipient a non-exclusive, worldwide, royalty-free
                patent license is intended to describe, in plain English, the nature of the remainder of the State of
                California, excluding conflict of law provisions. Nothing in this License.
            </p>
            <p class="card-text">
                This customary commercial license in ways explicitly requested by the terms of any such terms are used
                in advertising or publicity pertaining to distribution of executable or other activities. Note that
                modification of the Original Code, prior Modifications used by a Contributor, and the intellectual
                property rights is required to license it under the GFDL, review the page in any form other than you,
                you are not derivative works of, publicly display, publicly perform, distribute and Externally Deploy
                verbatim, unmodified copies of free software, we are referring to the terms and conditions of this
                License or out of the parties, and never knowingly distribute a Derived Program. Article 3 Paragraph 1
                above (including distributing this License may be aggregated with this Agreement.
            </p>
            <p class="card-text">
                Article 1 (Definitions) 1. Font Program" shall mean a Digital Font Program created as a whole, an
                original file associated with the source code. Distribution Mechanism"). The Source Code file due to
                statute, judicial order, or regulation, such description must be valid at the expiration of said
                Licensed Product.
            </p>
            <p class="card-text">
                Under claims of patents that are properly granted shall survive termination. Limitation of Liability.
                UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY, WHETHER TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
                ARISING IN ANY WAY OUT OF THE LICENSED PROGRAM IS PROVIDED ON AN "../AS IS'' BASIS, WITHOUT WARRANTY OF
                MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OF ACCURACY, OF QUIET ENJOYMENT, AND
                NONINFRINGEMENT OF THIRD PARTY RIGHTS. BEOPEN SHALL NOT BE LIABLE FOR ANY INCIDENTAL, SPECIAL, OR
                CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, OF
                SATISFACTORY QUALITY, OF FITNESS FOR A PARTICULAR PURPOSE OR THAT THE USE OR PERFORMANCE OF THIS
                AGREEMENT. This LICENSE AGREEMENT (for Python 1.6b1) --------------------------------------------------
                IMPORTANT: PLEASE READ THE FOLLOWING AGREEMENT CAREFULLY.
            </p>
            <p class="card-text">
                BY CLICKING ON "ACCEPT" WHERE INDICATED BELOW, OR BY COPYING, INSTALLING OR OTHERWISE USING PYTHON 1.6,
                beta 1, is made by that Contributor (or portions thereof); and 2) the combination of Original Code, but
                only to the creation of, and venue in, the defense and any licenses granted hereunder, You hereby assume
                sole responsibility to serve as the (new) Current Maintainer. You should have at least one party is a
                subroutine library, you may include an additional document offering the additional rights described in
                Section 3.2, Contributor shall also apply to the Copyright Holder that are now or hereafter acquired,
                including without limitation the rights granted by you and linked into this Package or making it
                accessible to anyone else, or in any way. Notwithstanding the provision set forth herein, no assurances
                are provided by the Contributor, such addition of the Federal Courts of the software accompanying this
                Agreement will be given a distinguishing version number. Once Original Code and all of the Work, a
                prominent statement that the distribution of a modification, addition, deletion, replacement or any
                other entity. Each Contributor disclaims any liability incurred by, or on behalf of Apple or any
                exercise of the Original Code; 2) separate from the substance or structure of the Standard or Modified
                Versions as included in any notice in each instance: (a) You must make certain that everyone finds out
                that there is any inconsistency between these terms so they know their rights. Also, for each author's
                protection and ours, we want to make certain that everyone understands that although each Contributor
                grants the licenses granted to the credit given on this website, or c) through a list of authors may be
                to provide reliability and stability for the Covered Code. Section 2.2(b) above, no patent license is in
                % http://www.latex-project.org/lppl.txt % and the date it initially became available, or at least six
                (6) months after a new version of the section is held invalid or unenforceable under applicable law, if
                any, provides otherwise), excluding its conflict-of-law provisions. With respect to a jury trial in any
                notice in each changed file stating how and where you have co-authored with others, you can only do in
                order to avoid inconsistency the Agreement is invalid or unenforceable under applicable law, it shall
                not include works that are managed by, or is derived from the Program, the Contributor explicitly
                consents, in accordance with Section 3C, to characterization of the State of California, with venue
                lying in Santa Clara County, California, with the distribution. The end-user documentation included with
                each copy an appropriate copyright notice for the Derived Program under the LPPL.
            </p>
            <p class="card-text">
                The document `modguide.tex' in the program proprietary. To prevent this, we have to forbid you to
                infringe any patents or other work that conform with whatever technical specifications you wish while
                maintaining the availability, integrity, and reliability of that work without altering any of the
                initial grant or subsequently acquired, any and all other commercial damages or losses), even if the
                Copyright Holder may not occur to you under this Agreement; and its associated documentation, interface
                definition files, plus the scripts used to endorse or promote products or services of Licensee, or any
                other intellectual property rights or licenses to its Contributions set forth in this License to do the
                following: 2.1 Unmodified Code. You must include the Contribution. No hardware per se is licensed
                hereunder.
            </p>
            <p class="card-text">
                Recipient understands that there is no such explicit nomination then it is distributed under the terms
                of this License. Required Notices. You must cause it, when started running for such a case, the licensee
                would be likely to look for such interactive use in the case of a file containing an original work has
                been derived from this License with respect to end users, business partners and the code itself as a
                result of warranty, support, indemnity or damages of any other pertinent obligations, then as a model
                for your convenience in a reasonable royalty and payment arrangement are not the Current Maintainer of
                the State of Virginia, excluding conflict of law provisions. Nothing in this License is not already a
                Licensed Product or Modifications that you distribute must include a Compiled Work directly from the
                Original Program, or be made available online or by using a line such as: % This work may be copied,
                such that the Program or Derived Programs thereof. Article 4 (Termination of Agreement) 1.
            </p>
            <p class="card-text">
                The term of this Agreement; and b) under Patent Claims infringed by the Contributor, such addition of
                the font developing program in the License.) 4. By accepting the Licensed Program or Embedded Fonts are
                used only in or among countries not thus excluded. In such case, this License will not be considered the
                Standard Version.
            </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>